body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*  Menu Do Site */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .logo
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}
header .menu
{
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu-line
{
    height: 3px;
    background-color: #333;

}

/* Meio do site */

.container 
{
    display: flex;
    height: 100vh;
}
.container .leftSide
{
    flex: 1;
    background-color: #221925;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.container .rigthSide
{
    flex: 1;
    background-image: url('../img/hero1.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -10px;
}
.container .info
{
    color: #fff;
}
.container .info .profession
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}
.container .info .name
{
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a
{
    display: inline-block;
    background-color: #fff;
    color: #221925;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px  10px #333;
    border-radius: 5px;
    margin-right: 10px;
}
.container .info .buttons a.light
{
    color: #fff;
    background-color: #221925;
}
.container .info .buttons a:hover
{
    opacity: 0.7;
}


/*  Roda pé Do site */

footer
{
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #ccc;
    font-size: 13px;


}
footer a{
    color: red;
    text-decoration: none;
}


/*   Respocivel Para celulares */



@media(max-width:520px)
{
    header
    {
        position: initial;
        background-color: #221925;
    }
    header .menu-line
    {
        background-color: #fff;
    }
    .container
    {
        flex-direction: column;
    }
    .container .leftSide
    {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
    }
    footer 
    {
       position: inherit;
       color: #000; 
    }
    footer a 
    {
        color: red;
    }
}
@media(max-width: 450px)
{
    .container .leftSide .info .name
    {
        font-size: 50px;
    }
    .container .leftSide .info .buttons a 
    {
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}